/* 
    Custom CSS styles for Recipe Tracker
*/
.noLinkStyle {
    color: inherit;
}

.rating i {
    font-size: 2em;
    cursor: pointer;
}

#searchBox {
    width: auto!important;
}

.form-check-label, .form-check-input {
    cursor: pointer;
}